<div id="sidebar" class="sidebar-width sidebar-background gutters hide-on-small-screens">
    <h1 class="hide-offscreen">Additional Information</h1>
    <h2 class="smaller-font">Archives</h2>
    <ul>
        <li><a href='/blog/2020/'>2020</a></li>
    </ul>
</div> <!-- sidebar -->
